<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.p2p.lending.dao.BorrowcordDao">
	
	<select id="selborr" resultType="com.p2p.lending.pojo.Borrowcord" parameterType="int">
	    SELECT
		* FROM borrowcord WHERE bid = #{wid}
	</select>
	
	<select id="updborr"  parameterType="int">
	   	update borrowcord set
		bstatue=1
		where boid = #{wid}
	</select>
	
	<insert id="borradd" parameterType="com.p2p.lending.pojo.Borrowcord">
		insert into borrowcord(
		bid,bdate,bstatue,
		bcs)
		values
		(#{bid},#{bdate},#{bstatue},
		#{bcs})
	</insert>
</mapper>
